body {
	font-family: 'Poppins', sans-serif !important;
}

.outer-div {
	padding: 8%;
	/* border: 2px solid black; */
	height: 100vh;
}

.inner-div {
	width: 100%;
	height: 100%;
	padding: 12px;
	background-color: whitesmoke;
	border: 1px solid #d8e3e2;
	border-radius: 12px;
	position: relative;
}

.narration {
	display: flex;
	align-items: center;
	/* max-height: 25%; */
}

.parrot-img {
	height: 100px;
}

.button-nav {
	background-color: yellowgreen;
	border-radius: 12px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
}

.bubble-chat {
	background-color: rgb(243, 223, 247);
	/* border: 0.5px solid black; */
	border-radius: 12px;
	padding: 20px;
	width: 100%;
}

.my-row {
	/* border: 2px solid black; */
}

.my-row img {
	width: 120px;
}

.test-bg {
	background-image: url(assets/grass.png);
	background-size: cover;
}

.custom-btn-right {
	width: 58px;
	height: 58px;
	background-image: url(assets/BTN_RIGHT.png);
	background-size: cover;
	border: none;
	background-color: transparent;
}

.my-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-task-08 {
	width: 40px;
}

span {
	color: #ab131d;
}

.my-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.top-row {
	flex: 0 0 auto;
}

.middle-row {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.bottom-row {
	flex: 0 0 auto;
}

.text-center {
	display: flex;
	flex-direction: column;
	justify-content: space-around; /* Evenly distribute extra space vertically */
	align-items: center; /* Center items horizontally */
	padding: 10px; /* Adjust padding as needed */
}

.container {
	display: flex; /* Use flexbox layout */
}

.container > * {
	flex: 0 0 auto; /* Prevent items from growing/shrinking; maintain their intrinsic size */
	margin-right: 5px; /* Optional: Add margin between child elements */
}

.b18 {
	color: black;
	font-size: 18px;
}

.vertical-fraction {
	display: inline-block;
	flex-direction: column;
	align-items: center; /* Center components horizontally */
}

.fraction-bar {
	border-top: 1px solid black; /* Customize the appearance of the fraction bar */
	width: 100%; /* Make the fraction bar span the width */
	margin: 0.2em 0; /* Adjust spacing above and below the fraction bar */
}

.numerator,
.denominator {
	/* Additional styling for numerator and denominator can be applied here */
}
